In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('full-labels-20240120-20241009.csv')
df['datetime'] = pd.to_datetime(df['datetime'])
df['datetime']

0      2024-01-20 12:15:07
1      2024-01-20 12:38:00
2      2024-01-20 12:53:00
3      2024-01-20 13:08:00
4      2024-01-21 14:17:00
               ...
8486   2024-10-09 02:09:03
8487   2024-10-09 02:24:03
8488   2024-10-09 02:39:03
8489   2024-10-09 02:54:03
8490   2024-10-09 03:09:03
Name: datetime, Length: 8491, dtype: datetime64[ns]

In [3]:
cutoff_date = pd.to_datetime("2024-07-02 00:00:00")
after_summer_classifications = df[df['datetime'] > cutoff_date]

after_summer_classifications

,path,datetime,type,burst
4351,2024-07-02/UMICH_20240702_063000_59.fit,2024-07-02 06:30:00,0,0
4352,2024-07-02/UMICH_20240702_064500_59.fit,2024-07-02 06:45:00,0,0
4353,2024-07-02/UMICH_20240702_070000_59.fit,2024-07-02 07:00:00,0,0
4354,2024-07-02/UMICH_20240702_071500_59.fit,2024-07-02 07:15:00,0,0
4355,2024-07-02/UMICH_20240702_073000_59.fit,2024-07-02 07:30:00,0,0
...,...,...,...,...
8486,2024-10-09/Beelink1_20241009_020903_01.fit,2024-10-09 02:09:03,0,0
8487,2024-10-09/Beelink1_20241009_022403_01.fit,2024-10-09 02:24:03,0,0
8488,2024-10-09/Beelink1_20241009_023903_01.fit,2024-10-09 02:39:03,0,0
8489,2024-10-09/Beelink1_20241009_025403_01.fit,2024-10-09 02:54:03,0,0
8490,2024-10-09/Beelink1_20241009_030903_01.fit,2024-10-09 03:09:03,0,0

In [4]:
after_summer_classifications.to_csv('labels_after_summer_classifications.csv', index=False)